.settings {
    display: flex;
    background: lightblue;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .toolmanager{
        display: flex;
    }

    .toolselect {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);

        .tooloption {
            i {
                font-size: 2rem;
            }

            div.rect {
                width: 100%;
                height: 100%;
                border: 2px solid black;
            }

            div.line {
                width: 100%;
                height: 4px;
                border: 2px solid black;
                border-radius: 2px;
                transform: rotateZ(-45deg);
                margin-top: 8px;
            }
        }
    }

    .toolselect:hover {
        cursor: pointer;
    }
}