* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 10px;
}

.app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#canv2 {
    transform: translateY(calc(-100% - 2px));
}

canvas.no-cursor {
    cursor: pointer;
}